@inject NavigationManager navigationManager
@implements IDisposable
@inject IWebHostEnvironment env
@rendermode InteractiveServer


@page "/admin/libros/modificar/{Id:int}"

@if(sesionUsuario?.Usuario?.Rol != null && libroModificar != null)
{
    <div class="modificar-seccion">
        <h1 class="titulo-modificar">Modificar libros</h1>

        <div class="ingresos">
            <div class="clase-input-nombre">
                <h4>Modificar título del libro</h4>
                <h5>@titulo</h5>
                    <input type="text" class="ingreso" @bind="@titulo" />
            </div>

            <div class="clase-input-mail">
                <h4>Autor</h4>
                <h5>@autor</h5>
                    <input class="ingreso" @bind="@autor" />
            </div>

            <div class="clase-input-mail">
                <h4>Precio</h4>
                <h5>@precio</h5>
                    <input type="number" class="ingreso" @bind="precio" />
            </div>

            <div class="clase-input-mail">
                <h4>Editorial</h4>
                <h5>@editorial</h5>
                <input class="ingreso" @bind="editorial" />
            </div>

            <div class="clase-input-solicitud">
                <h4>Sinopsis</h4>
                <h5>@sinopsis</h5>
                    <textarea class="ingreso-de-la-solicitud" @bind="sinopsis"></textarea>
            </div>

            <div class="clase-input-mail">
                <h4>Año Publicación</h4>
                <h5>@publicacion</h5>
                    <input type="number" class="ingreso" @bind="publicacion" />
            </div>

            <div class="clase-input-mail">
                <h4>Cant. Páginas</h4>
                <h5>@pags</h5>
                    <input type="number" class="ingreso" @bind="pags" />
            </div>

            <div class="clase-input-mail">
                <h4>Cantidad en Stock</h4>
                <h5>@stock</h5>
                    <input type="number" class="ingreso" @bind="stock" />
            </div>

            <div class="clase-input-mail">
                <h4>Adjuntar imagen</h4>
                <img src="@imgURL" style="width:100px" />

                 <InputFile OnChange="CargarImagen" accept="image/*"></InputFile>
                
            </div>

            <div class="clase-input-mail">
                <h4>Categoría</h4>
                <h5>@categoria</h5>
                <input class="ingreso" @bind="categoria" />
                
            </div>

            <button class="boton-prev" @onclick="ModificarLibro">PREVISUALIZAR</button>
        </div>
    </div>
}


@code {
    [Inject] UserSession? sesionUsuario { get; set; }
    [Inject] LibroService? libroService { get; set; }
    private Libro? libroModificar;
    private string? titulo,autor,editorial,sinopsis,imgURL,categoria = "";
    private decimal precio;
    private int publicacion, pags, stock;
    [Parameter] public int Id { get; set; }
    private IBrowserFile? imagenSeleccionada;
    private Func<Task>? _onChangeHandler;

    protected override void OnInitialized()
    {
        _onChangeHandler = () => InvokeAsync(StateHasChanged);
        sesionUsuario?.OnChange -= _onChangeHandler;
    }

    protected override async Task OnInitializedAsync()
    {
        libroModificar = await libroService!.ObtenerPorId(Id); //guardamos en libroModificar el libro que coincide por id con el seleccionado

        if(libroModificar != null) //si lo encontro, guarda en cada variable el valor de cada variable del libro guardado
        {
            titulo = libroModificar.Titulo;
            autor = libroModificar.Autor;
            editorial = libroModificar.Editorial;
            sinopsis = libroModificar.Descripcion;
            precio = libroModificar.Precio;
            publicacion = libroModificar.Fecha;
            pags = libroModificar.cantPaginas;
            stock = libroModificar.Stock;
            categoria = libroModificar.Categoria;
            imgURL = libroModificar.ImageURL;
        }
    }

    protected void SessionChanged()
    {
        if(sesionUsuario?.Usuario?.Rol != "admin")
        {
            navigationManager.NavigateTo("/inicio");
        }
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        sesionUsuario?.OnChange -= _onChangeHandler;
    }

    protected async Task ModificarLibro()
    {
        try
        {
            if(imagenSeleccionada != null) //si se modifico la imagen, permiimos crear una nueva imagen y almacenarla
            {
                var nombreImagen = $"{Guid.NewGuid()}{Path.GetExtension(imagenSeleccionada?.Name)}";
                var ruta = Path.Combine(env.WebRootPath, "images", "libros", nombreImagen);
                using var stream = File.Create(ruta);

                await imagenSeleccionada!.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024).CopyToAsync(stream);
                imgURL = $"/images/libros/{nombreImagen}";
            }
            //actualizamos cada variable del libro con el valor de cada variable modificada
            libroModificar!.Titulo = titulo ?? "";
            libroModificar!.Autor = autor ?? "";
            libroModificar!.Editorial = editorial ?? "";
            libroModificar!.Descripcion = sinopsis ?? "";
            libroModificar!.Precio = precio;
            libroModificar!.Fecha = publicacion;
            libroModificar!.cantPaginas = pags;
            libroModificar!.Stock = stock;
            libroModificar!.Categoria = categoria ?? "";
            libroModificar!.ImageURL = imgURL ?? "";

            await libroService!.Update(libroModificar);
            navigationManager.NavigateTo("/admin/libros");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al modificar el libro: {ex.Message}");
        }
    }

   protected async Task CargarImagen(InputFileChangeEventArgs e)
   {
       imagenSeleccionada = e.File;
   }


}
