@page "/mi-carrito"
@implements IDisposable
@rendermode InteractiveServer
@inject NavigationManager navigatorManager

<!-- Componente para el diseño del carrito en PC -->

@if(carritoService?.Total > 0)
{
    @if (MostrarCarritoPC)
    {
        <div class="carrito-full-screen">

            <h1 class="titulo-carrito">Mi carrito</h1>
            <div class="lista-libros-carrito">


                @foreach (var item in carritoService!.Items)
                {
                    <div class="datos-libro-carrito">
                        <img src="@item.libro.ImageURL" />

                        <div class="titulo-precio">
                            <h4 class="titulo-libro-carrito">@item.libro.Titulo</h4>
                            <h4 class="precio-carrito">$@(item.libro.Precio * item.Cantidad)</h4>
                        </div>

                        <div class="eliminar-dec-inc">
                            <button class=" eliminar-boton" @onclick="() => EliminarLibro(item.libro)">
                                <i class="bi bi-trash-fill"></i>
                            </button>

                            <div class="controles-cantidad">
                                <div class="botones-aumenta-decrece">
                                    <button class="btn-cantidad" @onclick="() => carritoService!.DisminuirCantidad(item.libro)">
                                        <i class="bi bi-dash-circle-fill"></i>
                                    </button>
                                    <span class="cantidad-numero">@item.Cantidad</span>
                                    <button class="btn-cantidad" @onclick="() => carritoService!.AgregarLibro(item.libro)">
                                        <i class="bi bi-plus-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                       

                    </div>
                }

            </div>

            <div class="seccion-compra-botones">

                <div class="total-clase">
                    <h4 class="frase-total">Total:</h4>
                    <h4 class="frase-precio-total">$@carritoService?.Total</h4>
                </div>

                <br />

                <button class="boton-comprar" @onclick="() => irAComprar()">
                    <span><strong>COMPRAR</strong></span>
                </button>
            </div>

        </div>
    }

<!--PARTE DEL CARRITO QUE VA A SER PASADO AL COMPONENTE DE DETALLES DE PAGO-->

    @if (MostrarCarritoDetallesPago)
    {
        <div class="carrito-detalles-pago">
            <div class="carrito">

                <h3 class="titulo-carrito">Mi carrito</h3>

                <div class="lista-libros-carrito">

                    @foreach (var item in carritoService!.Items)
                    {
                        <div class="datos-libro-carrito-detalles">
                            <div class="parte-libro">
                                <img src="@item.libro.ImageURL" />

                                <div class="titulo-precio-detalles">
                                    <h4 class="titulo-libro-carrito-detalles">@item.libro.Titulo</h4>
                                    <h4 class="precio-carrito-detalles">$@(item.libro.Precio * item.Cantidad)</h4>
                                </div>
                            </div>
                           
                            <div class="trash-cant">
                                <button class="boton-basura-carrito-detalles-" @onclick="() => EliminarLibro(item.libro)">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <div class="controles-cantidad-detalles">
                                    <div class="botones-aumenta-decrece">
                                        <button class="btn-cantidad" @onclick="() => carritoService!.DisminuirCantidad(item.libro)">
                                            <i class="bi bi-dash-circle-fill"></i>
                                        </button>
                                        <span class="cantidad-numero">@item.Cantidad</span>
                                        <button class="btn-cantidad" @onclick="() => carritoService!.AgregarLibro(item.libro)">
                                            <i class="bi bi-plus-circle-fill"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    }

                
                </div>

                <div class="seccion-compra-botones">

                    <div class="total-clase">
                        <h4 class="frase-total">Total:</h4>
                        <h4 class="frase-precio-total">$@carritoService?.Total</h4>
                    </div>

                    <br />
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="carrito-vacio">
        <div class="urls">
            <a href="/inicio">INICIO</a>
            <p>></p>
            <p>Mi carrito</p>
        </div>
        <div class="titulo-ca">
            <h1 class="titulo-carrito">Mi carrito</h1>
            <hr class="linea">
        </div>
           

        <p class="texto-nohay"><strong>Todavía no hay libros en el carrito</strong></p>
    </div>
}


@code{
    [Parameter] public bool MostrarCarritoDetallesPago { get; set; } = false;
    [Parameter] public bool MostrarCarritoPC { get; set; } = true;
    [Inject] LibroService? libroService { get; set; }
    [Inject] CarritoService? carritoService { get; set; }
    private List<Libro>? libros;

    protected override void OnInitialized()
    {
        carritoService!.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        carritoService!.OnChange -= StateHasChanged;
    }

    private void EliminarLibro(Libro libro)
    {
        carritoService!.EliminarLibro(libro);
    }

    public void AgregarLibroAlCarrito(Libro libro)
    {
        libros?.Add(libro);
    }

    protected void irAComprar()
    {
        navigatorManager.NavigateTo("/detalles-de-pago");
    }

}