@rendermode InteractiveServer
@inject NavigationManager NavigatorManager

@inject IJSRuntime JS

@page "/detalles-de-pago"

@if(sesionUsuario?.Usuario != null)
{
    <div class="detalles-pago">
        <div class="columna-1">
            <button class="boton-volver-carrito" @onclick="ToCarrito">
                <i class="bi bi-caret-left-fill"></i>
                <h5 class="frase-volver-carrito">Volver al carrito</h5>
            </button>

            <h1 class="titulo-detalles-pago">Detalles de pago</h1>
            <h5 class="detalles-contacto">DETALLES DEL CONTACTO </h5>

            <div class="mail-detpago">
                <h5>E-mail</h5>
                <h5 class="email-usuario">@sesionUsuario!.Usuario!.Email</h5>
            </div>

            <div class="ingresos">
                <div class="ingreso-telefono">
                    <h4>Ingrese su teléfono</h4>
                    <input type="text" class="ingreso" @bind="@telefono" />
                </div>

                <div class="ingreso-calle">
                    <h4>Ingrese su calle</h4>
                    <input type="text" class="ingreso" @bind="@calle" />
                </div>

                <div class="ingreso-altura">
                    <h4>Ingrese su altura de calle</h4>
                    <input type="number" class="ingreso" @bind="@altura" />
                </div>

                <div class="ingreso-localidad">
                    <h4>Ingrese su localidad</h4>
                    <input type="text" class="ingreso" @bind="@localidad" />
                </div>

                <div class="ingreso-provincia">
                    <h4>Ingrese su provincia</h4>
                    <input type="text" class="ingreso" @bind="@provincia" />
                </div>
            </div>

            <div class="medios-pago-seccion">
                <h5 class="frase-medios-pago">MEDIOS DE PAGO</h5>
                <div class="seccion-medios-pago">
                    <!--Si el medio es efectivo-->
                    <button class="cuadro-pago-efectivo @(medioSeleccionado == 0 ? "activo" : "")" 
                            @onclick='() => SeleccionarMedio(0)'>
                       

                        <div class="icono-frase">
                            <img src="https://i.postimg.cc/fy10kbHT/billete-logo.png" />
                            <h5 class="frase-efectivo-local">Efectivo en nuestro local</h5>
                        </div>
                        <i class="bi bi-caret-right-fill"></i>
                    </button>
                    <!--Si el medio es efectivo, se muestra el div de abajo-->
                    @if (medioSeleccionado == 0)
                    {
                        <div class="cuando-clickea-billete">
                            <div class="monto-a-pagar">
                                <h5>Su monto total es:</h5>
                                <h5><strong>$@carritoService!.Total</strong></h5>
                            </div>
                            <h5>Nuestra dirección de local es:</h5>

                            <h5>
                                <strong>
                                    Diagonal 73, 7526,
                                    La Plata
                                </strong>
                            </h5>

                            

                            <h5 class="pt-2">Nuestros horarios de atencion:</h5>
                            <h5>
                                <strong>
                                    Lun a Sab
                                    09:00 a 20:00
                                </strong>
                            </h5>

                            <h5>
                                Al solicitar "comprar" se enviará un comprobante de solicitud de compra a su mail.
                                Por favor, dirijase a nuestro local dentro de 48 hs para continuar el proceso de compra de su pedido.
                            </h5>
                        </div>
                    }
                    <!--Si el medio es tarjeta-->
                    <button class="cuadro-pago-tarjeta @(medioSeleccionado == MedioPago.TarjetaCredito ? "activo" : "")" 
                            @onclick=' () => SeleccionarMedio(MedioPago.TarjetaCredito)'>
                        <div class="icono-frase">
                            <img src="https://i.postimg.cc/MZ4SBs7V/tarjeta-logo.png" />
                            <h5 class="frase-tarjeta">Pago con tarjetas</h5>
                        </div>
                        <i class="bi bi-caret-right-fill"></i>
                    </button>

                    @if (medioSeleccionado == MedioPago.TarjetaCredito)
                    {
                        <div class="cuando-clickea-tarjetas">

                            <h5>Ingrese numero de la tarjeta</h5>

                            <input type="number" class="ingreso" />

                            <h5>Nombre completo del titular de la tarjeta</h5>
                            <input type="text" class="ingreso" />

                            <h5>Codigo de seguridad</h5>
                            <input type="number" class="ingreso" />

                            <h5>
                                Al solicitar "comprar" se enviará un comprobante de compra a su mail.
                                Por favor, dirijase a correo para revisar los detalles de su pedido.
                            </h5>
                        </div>
                    }


                    <button class="cuadro-pago-transferencia @(medioSeleccionado == MedioPago.TransferenciaBancaria ? "activo" : "")"
                            @onclick=' () => SeleccionarMedio(MedioPago.TransferenciaBancaria)'>
                        <div class="icono-frase">
                            <img src="https://i.postimg.cc/CK6rRxtW/icono-transferencia.png" />
                            <h5 class="frase-transferencia">Transferencia bancaria</h5>
                        </div>
                        <i class="bi bi-caret-right-fill"></i>
                    </button>

                    @if (medioSeleccionado == MedioPago.TransferenciaBancaria)
                    {
                        <div class="cuando-clickea-transferencia">

                            <h5>Datos para la transferencia</h5>

                            <div class="cbu-class">
                                <h5><strong>CBU:</strong></h5>
                                <h6 class="cbu-frase">005689192727</h6>
                            </div>

                            <div class="alias-frase">
                                <h5><strong>Alias: </strong></h5>
                                <h6>neumann.libros.fantasia.mp</h6>
                            </div>

                            <div class="nombre-transferencia-frase">
                                <h5><strong>Titular cuenta:</strong></h5>
                                <h6>Lucas Kingschollar</h6>
                            </div>

                            <div class="banco-frase">
                                <h5><strong>Banco:</strong></h5>
                                <h6>Galicia</h6>
                            </div>

                            <h5>Al solicitar "comprar" se enviará un comprobante de solicitud de compra a su mail.</h5>

                            <h5> Por favor, envie el comprobante de transferencia a nuestro mail dentro de 48 hs para continuar el proceso de compra de su pedido.</h5>
                            <h5>
                                Tenga en cuenta que la confirmación de comprar puede demorar un tiempo. Cuando su pago sea confirmado se le enviará confirmación
                                de pago y su numero de compra.
                            </h5>
                        </div>
                    }
                </div>
            </div>
            <button class="boton-comprar" @onclick="() => Comprar()">
                <span><strong>COMPRAR</strong></span>
            </button>
            <p>@mensajeError</p>
        </div>

        <div class="cuadro-carrito">
            <CarritoComponent MostrarCarritoPC="false" MostrarCarritoDetallesPago="true"></CarritoComponent>
        </div>

   
    </div>
}
else
{
    ToInicio();
}

@code {
    [Inject] UserSession? sesionUsuario{ get; set; }
    [Inject] CarritoService? carritoService{ get; set; }
    [Inject] ProcesadorPagosService? pagosService{ get; set; }
    [Inject] IHttpContextAccessor httpContextAccessor { get; set; } = default!;
    [Inject] ClientInfoService? clientInfoService { get; set; }
    [Inject] EmailService? emailService{ get; set; }
    private int telefono,altura;
    private string? calle,provincia,localidad, mensajeError= "";
    DetallePedido? detallePedido;
    private MedioPago? medioSeleccionado;

    protected override void OnInitialized()
    {
        var http = httpContextAccessor.HttpContext;
        if(http != null)
        {
            clientInfoService!.IP = http.Connection.RemoteIpAddress?.ToString();
            clientInfoService!.UserAgent = http.Request.Headers["User-Agent"].ToString();
        }
    }

    public void SeleccionarMedio(MedioPago medio)
    {
        /*Nota: esta funcion lo que hace es que primero pones la variable a la que le queres cambiar el valor y el '=' y al
        * lado la pregunta, en este caso si el medioSeleccionado previamente es igual al que selecciono el usuario, se va a deseleccionar,
         * sino se lo asigna. OPERADOR TERNARIO
         */
    medioSeleccionado = medioSeleccionado == medio
    ? medioSeleccionado = null
    : medioSeleccionado = medio;
    } 


    private void ToCarrito()
    {
        NavigatorManager.NavigateTo("/mi-carrito");
    }

 

    public async Task Comprar()
    {
        var nuevoPedido = AsignarValores();

        var error = await pagosService!.ProcesarPedido(nuevoPedido, clientInfoService!.IP!, clientInfoService!.UserAgent!);
        if (error != null)
        {
            mensajeError = error;
        }
        else
        {
            if(medioSeleccionado == MedioPago.TarjetaCredito)
            {
                await emailService!.ConfirmacionPedido(sesionUsuario!.Usuario!.Email, nuevoPedido!.CodigoOperacion);
            }
            else
            {
                await emailService!.PedidoPendiente(sesionUsuario!.Usuario!.Email, nuevoPedido!.CodigoOperacion);
            }
            NavigatorManager.NavigateTo("/pedido-confirmado");
        }
    }

    public void ToInicio()
    {
        NavigatorManager.NavigateTo("/inicio");
    }

    private Pedido AsignarValores()
    {
        var pedido = new Pedido
        {
            Telefono = telefono,
            FechaCreacion = DateTime.Now,
            Total = carritoService!.Total,
            Estado = EstadoPedido.Pendiente, //pendiente
            UsuarioId = sesionUsuario!.Usuario!.Id,
            CodigoOperacion = pagosService!.GenerarCodigoOperacion(),
            MedioPago = medioSeleccionado,
            Calle = calle!,
            Provincia = provincia!,
            Localidad = localidad!,
            AlturaCalle = altura,
            Detalles = AsignarDetallesPedido()
        };
        return pedido;
    }

    private List<DetallePedido> AsignarDetallesPedido()
    {
        var detalles = carritoService!.Items.Select(item => new DetallePedido //convertimos cada libro de los items del carrito a objetos de tipo detalle
        {
            LibroId = item.libro.Id,
            Cantidad = item.Cantidad,
            TituloLibro = item.libro.Titulo,
            PrecioUnitario = item.libro.Precio
        }).ToList();

        return detalles;
    }

}
