@inject IWebHostEnvironment env
@rendermode InteractiveServer

@page "/libro-{nombre}"

<div class="libro-seccion">
    <img src= "@imagen" alt="muestra-libro" />

    <div class="titulo-autor-comprar">

        <h1 class="titulo-libro-seccion"><strong>@titulo?.ToUpper()</strong></h1>

        <h4 class="autor-libro-seccion"><strong>@autor</strong></h4>

        <h4 class="precio-libro-seccion"><strong>$@precio</strong></h4>

        <h4 class="precio-cuotas-libro-seccion">4 x $@PrecioEnCuotas(4) sin interés</h4>

        <div class="cantidad-carrito">

            <div class="cuadro-cantidad">

                <button class="boton-cantidad-disminuir" @onclick="() => DisminuirContador()">
                    <i class="bi bi-caret-left-fill"></i>
                </button>

                <span class="uno"><strong>@contador</strong></span>

                <button class="boton-cantidad-aumentar" @onclick="() => AumentarContador()">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>

            <button class="agregar-carrito">AGREGAR AL CARRITO</button>
        </div>
           

    </div>

    <div class="descripcion">

        <h4 class="frase-descripcion"><strong>Descripción</strong></h4>

        <div class="editorial-seccion">
            <h5><strong>Editorial:</strong></h5>
            <h5>@editorial</h5>
        </div>

        <div class="fecha-publicacion-seccion">
            <h5><strong>Fecha publicación:</strong></h5>
            <h5>@fechaPublicaciom</h5>
        </div>

        <div class="num-pag-seccion">
            <h5><strong>Núm. páginas:</strong></h5>
            <h5>@cantPags</h5>
        </div>

        <div class="sinopsis-seccion">
            <h5><strong>Sinopsis</strong></h5>

            <div class="parrafo-sinopsis">
                <p class="descripcion-parrafo">@descripcion </p>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public string nombre { get; set; }
    private Libro? libroActual;
    [Inject] LibroService? libroService { get; set; }
    private string? titulo,autor,descripcion,editorial,imagen = "";
    private decimal precio;
    private int fechaPublicaciom,cantPags;
    private int contador = 1;

    protected override async Task OnInitializedAsync()
    {
        libroActual = await libroService.ObtenerPorNombre(nombre);

        if(libroActual != null)
        {
            titulo = libroActual.Titulo;
            autor = libroActual.Autor;
            precio = libroActual.Precio;
            descripcion = libroActual.Descripcion;
            editorial = libroActual.Editorial;
            fechaPublicaciom = libroActual.Fecha;
            cantPags = libroActual.cantPaginas;
            imagen = libroActual.ImageURL;
        }
    }

    private decimal PrecioEnCuotas(int cantCuotas)
    {
        return precio / cantCuotas;
    }

    private void DisminuirContador()
    {
        if(contador > 1)
        {
            contador -= 1;
        }

    }

    private void AumentarContador() => contador += 1;


}
