@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/user-component"

<div class="user-component">
    <h1 class="nombre-usuario">Hola, @nombreUsuario!</h1>
    <h3 class="frase-datos-usuario"><strong>Datos de usuario:</strong></h3>
    <div class="datos-usuario-seccion">
        <h5 class="email-usuario">Su email: <strong>@mailUsuario</strong></h5>
        <h5 class="telefono-usuario"> Su teléfono: <strong>@telefonoUsuario</strong></h5>
        <h5 class="provincia-seccion">Su provincia: <strong>@provinciaUsuario</strong></h5>
        <h5 class="localidad-seccion">Su localidad: <strong>@localidadUsuario</strong></h5>
        <h5 class="direccion-usuario">Su calle: <strong>@calleUsuario @numeroCalleUsuario</strong></h5>
    </div>
    <button class="cambiar-datos-boton" @onclick="OnClick">Cambiar datos</button>
</div>

@code {
    private string nombreUsuario = "Edmond";
    private string mailUsuario = "edmond@gmail.com";
    private string telefonoUsuario = "11-5453-1233";
    private string calleUsuario = "Guemes";
    private string provinciaUsuario = "Buenos Aires";
    private string localidadUsuario = "San Martín";
    private int numeroCalleUsuario = 1234;

    public void OnClick()
    {
        NavigationManager.NavigateTo("/cambio-datos");
    }
}
